.header{
    display:flex;
    align-items:center;
    padding:10px;
    background-color: wheat;
    font-family: 'Arima';
}

.header img{
    width:150px;
    height:auto;
    margin-right:50px;
}

.header h1{
    font-size: 30px;
    margin-left:100px;
}

.nav {
    list-style: none;      /* Liste işaretlerini kaldırır */
    display: flex;         /* Menüyü yatay hizalar */
    margin: 20px;          /* Varsayılan boşlukları kaldırır */
    padding: 10px;
  }
  
  .nav li {
    margin-left: 60px;     
  }
  
  .nav li a {
    text-decoration: none; 
    color: black;          
    font-size: 18px;       
  }
  
  .nav li a:hover {
    color: #555555;           
  }

  /* Movie Listeleme için css */
  
  .movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /* Kartlar arasındaki boşluk */
    justify-content: center;
    padding: 20px;
  }
  
  .movie-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /*  gölge efekti */
    overflow: hidden; 
    transition: transform 0.3s; 
    width: 300px; /* Kart genişliği */
  }
  
  .movie-card:hover {
    transform: scale(1.05); 
  }
  
  .movie-poster {
    width: 100%;
    height: auto; 
    border-bottom: 2px solid #e0e0e0; /* Alt çizgi ekle */
  }
  
  .movie-title {
    font-size: 1.2em; 
    margin: 10px 0;
    text-align: center; 
    color: #333; 
  }
  
  .movie-rating {
    display: flex;
    align-items: center; /* Yıldız ve sayıların hizalanmasını ayarla */
    justify-content: center; /* Ortala */
    font-size: 0.7em; /* Yazı boyutu */
    padding: 0 10px; /* Yan boşluk */
    color: #555; /* Yazı rengi */
  }
  
  .star {
    color: gold; /* Yıldızların rengi */
    margin: 0 2px; /* Yıldızlar arası boşluk */
    font-size: 2em;
  }
  .relase-date{
    font-size: 0.9em; 
    margin: 10px 0;
    text-align: center; 
    color: #545353; 
  }

  .rating-count {
    margin-left: 5px; /* Sayının yıldızdan sonra boşluk bırakması için */
  }
  
  
  .loading {
    text-align: center; 
    font-size: 1.5em; 
  }
  
  .error {
    color: red; 
    text-align: center; 
    font-size: 1.2em; 
  }
  