.header{
    display:flex;
    align-items:center;
    padding:10px;
    background-color: wheat;
    font-family: 'Arima';
}

.header img{
    width:150px;
    height:auto;
    margin-right:50px;
}

.header h1{
    font-size: 30px;
    margin-left:100px;
}

.nav {
    list-style: none;      /* Liste işaretlerini kaldırır */
    display: flex;         /* Menüyü yatay hizalar */
    margin: 20px;          /* Varsayılan boşlukları kaldırır */
    padding: 10px;
  }
  
  .nav li {
    margin-left: 60px;     
  }
  
  .nav li a {
    text-decoration: none; 
    color: black;          
    font-size: 18px;       
  }
  
  .nav li a:hover {
    color: #555555;           
  }
  
  /* Movie Listeleme için css */
  .movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  
  .movie-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 200px; /* Genişlik ayarı */
    margin: 10px;
    text-align: center;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .movie-poster {
    width: 100%;
    border-radius: 4px;
  }
  